name: Continuous Testing of Docker Images

on:
  schedule:
    - cron: "0/10 * * * *" # "every 5 minutes"
  workflow_dispatch:

jobs:
  prepare_testing:
    runs-on: ubuntu-latest
    outputs:
      COMMIT_HASH: ${{ steps.filter.outputs.COMMIT_HASH }}
      DOCKER_TAG: ${{ steps.filter.outputs.DOCKER_TAG }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install jq
        run: sudo apt-get install jq

      - name: Filter and create test file
        id: filter
        run: |
          # Filter entries with built_at > START_DATE, build_status = "pass", and no existing test file
          #!/bin/bash
          START_DATE=$(date -d '2023-05-15' +%s)
          # Generate a list of all hashes in the continuous_testing directory and save it to a temporary file
          find continuous_testing -type f -name '*.json' | sed 's|continuous_testing/||; s|.json||' > temp_hashes.txt

          # Filter the JSON file using jq
          TEST_BUILD=$(jq -r --slurpfile hash_list <(jq -R . < temp_hashes.txt | jq -s .) \
            --argjson START_DATE "$START_DATE" '
            .[] |
            select(
              .built_at? != null and
              (.built_at | strptime("%Y-%m-%dT%H:%M:%SZ") | mktime) > $START_DATE and
              .build_status == "pass" and
              (.hash as $h | $hash_list[0] | index($h) == null)
            )
          ' docker_builder/builds.json | jq --slurp 'sort_by(.built_at) | .[0]')

          # Clean up temporary file
          rm temp_hashes.txt

          if [[ -z "$TEST_BUILD" ]]; then
              echo "No build found to test"
              echo "COMMIT_HASH='null'" >> $GITHUB_OUTPUT
              exit 0
          else
              git pull origin main
              # Extract hash and check if it's null or empty
              HASH=$(echo "$TEST_BUILD" | jq -r '.hash')
              if [[ -z "$HASH" ]] || [[ "$HASH" == "null" ]]; then
                  echo "HASH is null or empty. Exiting."
                  exit 0
              fi

              echo "Creating test file for build: $HASH"
              mkdir -p continuous_testing

              # Extract other details from TEST_BUILD and create the JSON file using jq
              TYPE=$(echo "$TEST_BUILD" | jq -r '.type')
              PULL_REQUEST=$(echo "$TEST_BUILD" | jq -r '.pull_request // empty')
              STARTED_AT=$(date -u +"%Y-%m-%dT%H:%M:%SZ")

              jq -n \
                --arg hash "$HASH" \
                --arg run_id "${{ github.run_id }}" \
                --arg type "$TYPE" \
                --arg pull_request "$PULL_REQUEST" \
                --arg started_at "$STARTED_AT" \
                '{
                  hash: $hash,
                  run_id: $run_id,
                  type: $type,
                  pull_request: (if $pull_request == "" then null else $pull_request end),
                  started_at: $started_at,
                  completed_at: null,
                  testcases: [],
                  overall_status: "running"
                }' > continuous_testing/$HASH.json

            git config user.name "GitHub Actions Bot"
            git config user.email "<>"
            git add continuous_testing/$HASH.json
            git commit -m "Start testing for build $HASH"
            git pull
            git push origin main

            echo "COMMIT_HASH=$HASH" >> $GITHUB_OUTPUT
            echo "DOCKER_TAG=$(echo "$TEST_BUILD" | jq -r '.docker_tag')" >> $GITHUB_OUTPUT
          fi

  get_testcases:
    runs-on: ubuntu-latest
    outputs:
      MATRIX: ${{ steps.matrix.outputs.MATRIX }}
    steps:
      - name: Fetch test case names
        id: matrix
        run: |
          TESTCASES=$(curl -s 'https://api.github.com/repos/gr0vity-dev/nanolab-configs/contents/quick_testing' | jq -r '[.[] | select(.name | endswith("json")) | select(.type == "file") | .name | rtrimstr(".json")]' | jq -c)

          echo "MATRIX={\"testcase\":$TESTCASES}" >> $GITHUB_OUTPUT

  testcases:
    needs: [prepare_testing, get_testcases]
    if: ${{ needs.prepare_testing.outputs.COMMIT_HASH != 'null' }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.get_testcases.outputs.MATRIX) }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          DOCKER_TAG=${{ needs.prepare_testing.outputs.DOCKER_TAG }}
          # Check if DOCKER_TAG is null or empty
          if [[ -z "$DOCKER_TAG" ]] || [[ "$DOCKER_TAG" == "null" ]]; then
              echo "DOCKER_TAG is null or empty. Exiting."
              exit 1
          fi

          sudo apt-get update
          sudo apt-get install apt-transport-https ca-certificates gnupg-agent software-properties-common --yes
          curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
          sudo add-apt-repository    "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
          sudo apt-get install docker-ce docker-ce-cli containerd.io --yes

          # Install docker-compose v1.29 required for cpu limits to be applied in the testcases. docker-compose V2 ignores hardware limits
          sudo curl -L "https://github.com/docker/compose/releases/download/1.29.0/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
          sudo chmod +x /usr/local/bin/docker-compose
          pip install git+https://github.com/gr0vity-dev/python-ed25519-blake2b@151ad17b2a50a3329652bd4920c0db25eaeefeb1
          pip install git+https://github.com/gr0vity-dev/nanomock.git@9cc0f351ae4ccaf50d366d0fdbb183b1ee2ee6ef
          pip install git+https://github.com/gr0vity-dev/nanolab.git@b8d22c742480d2ccc60a2ae752328984c7ca3186

      - name: Run test case
        run: |
          DOCKER_TAG=${{ needs.prepare_testing.outputs.DOCKER_TAG }}
          STARTED_AT=$(date -u +"%Y-%m-%dT%H:%M:%SZ")

          nanolab run -t ${{ matrix.testcase }} --gh-path quick_testing -i $DOCKER_TAG > $HOME/status.log 2>&1
          cat $HOME/status.log
          STATUS=$(grep -E -q "FAIL|unconfirmed blocks|Traceback \(most recent call last\)|Encountered errors while bringing up the project" $HOME/status.log && echo "FAIL" || echo "PASS")
          COMPLETED_AT=$(date -u +"%Y-%m-%dT%H:%M:%SZ")

          echo "STATUS=$STATUS" >> $GITHUB_ENV
          echo "STARTED_AT=$STARTED_AT" >> $GITHUB_ENV
          echo "COMPLETED_AT=$COMPLETED_AT" >> $GITHUB_ENV
        id: testcase

      - name: Create and push log file on failure
        if: ${{ env.STATUS == 'FAIL' }}
        run: |
          HASH=${{ needs.prepare_testing.outputs.COMMIT_HASH }}
          TESTCASE=${{ matrix.testcase }}

          MAX_RETRIES=10
          for ((i=1; i<=MAX_RETRIES; i++)); do
            git fetch --all
            git reset --hard origin/main

            # Rename and move the log file
            mv $HOME/status.log "continuous_testing/${HASH}_${TESTCASE}.txt"

            # Commit and push the changes
            git config user.name "GitHub Actions Bot"
            git config user.email "<>"
            git add "continuous_testing/${HASH}_${TESTCASE}.txt"
            git commit -m "Add log file for failed test ${TESTCASE} in build ${HASH}"
            git pull

            if git push origin main; then
              echo "Push successful!"
              break
            else
              echo "Push failed, retrying..."
              if [ $i -eq $MAX_RETRIES ]; then
                echo "Failed to push after $MAX_RETRIES attempts, exiting."
                exit 1
              fi
              sleep 5
            fi
          done

      - name: Update test file
        run: |
          HASH=${{ needs.prepare_testing.outputs.COMMIT_HASH }}

          # Check if HASH is null or empty
          if [[ -z "$HASH" ]] || [[ "$HASH" == "null" ]]; then
              echo "HASH is null or empty. Exiting."
              exit 0
          fi

          sleep 5
          TEST_FILE=continuous_testing/$HASH.json
          MAX_RETRIES=10

          for ((i=1; i<=MAX_RETRIES; i++)); do
            # Pull the latest changes from the repository
            git fetch --all
            git reset --hard origin/main

            # Create a new entry for this test case
            NEW_ENTRY=$(jq -n \
              --arg testcase "${{ matrix.testcase }}" \
              --arg status "${{ env.STATUS }}" \
              --arg started_at "${{ env.STARTED_AT }}" \
              --arg completed_at "${{ env.COMPLETED_AT }}" \
              '{testcase: $testcase, status: $status, started_at: $started_at, completed_at: $completed_at}')


            # Update the test file with the new entry
            jq --argjson new_entry "$NEW_ENTRY" '.testcases += [$new_entry]' $TEST_FILE > tmp.json && mv tmp.json $TEST_FILE

            # Commit and push the changes
            git config user.name "GitHub Actions Bot"
            git config user.email "<>"
            git add $TEST_FILE
            git commit -m "Update test result for ${{ matrix.testcase }} in build $HASH"

            if git push origin main; then
              echo "Push successful!"
              break
            else
              echo "Push failed, retrying..."
              if [ $i -eq $MAX_RETRIES ]; then
                echo "Failed to push after $MAX_RETRIES attempts, exiting."
                exit 1
              fi
              sleep 5
            fi
          done

  post_process:
    needs: [prepare_testing, testcases]
    if: ${{ always() }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install GitHub CLI
        run: sudo apt-get install gh

      - name: Fetch latest commit SHA
        id: fetch_latest_sha
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          LATEST_SHA=$(gh api repos/nanocurrency/nano-node/commits/develop --jq '.sha')
          echo "::set-output name=latest_sha::$LATEST_SHA"

      - name: Post-processing
        id: post_processing
        run: |
          HASH=${{ needs.prepare_testing.outputs.COMMIT_HASH }}
          TEST_FILE=continuous_testing/$HASH.json

          # Check if HASH is null or empty
          if [[ -z "$HASH" ]] || [[ "$HASH" == "null" ]]; then
              echo "HASH is null or empty. Exiting."
              exit 0
          fi

          # Fetch the latest SHA
          LATEST_SHA=${{ steps.fetch_latest_sha.outputs.latest_sha }}


          git pull origin main

          # Count passed and failed tests
          PASSED_COUNT=$(jq '[.testcases[] | select(.status == "PASS")] | length' $TEST_FILE)
          FAILED_COUNT=$(jq '[.testcases[] | select(.status == "FAIL")] | length' $TEST_FILE)

          # Determine overall status
          if [[ $FAILED_COUNT -gt 0 ]]; then
            OVERALL_STATUS="FAIL"
          else
            OVERALL_STATUS="PASS"
          fi

          COMPLETED_AT=$(date -u +"%Y-%m-%dT%H:%M:%SZ")

          # Update the test file with overall status and completed_at
          jq --arg overall_status "$OVERALL_STATUS" \
            --arg completed_at "$COMPLETED_AT" \
            '.overall_status = $overall_status | .completed_at = $completed_at' $TEST_FILE > tmp.json && mv tmp.json $TEST_FILE




          # Generate badge URL based on conditions
          if [[ $FAILED_COUNT -eq 0 ]]; then
            BADGE_URL="https://img.shields.io/badge/continuous_testing-${HASH:0:7}%20|%20${PASSED_COUNT}_passed-brightgreen"
          elif [[ $PASSED_COUNT -eq 0 ]]; then
            BADGE_URL="https://img.shields.io/badge/continuous_testing-${HASH:0:7}%20|%20${FAILED_COUNT}_failed-red"
          else
            BADGE_URL="https://img.shields.io/badge/continuous_testing-${HASH:0:7}%20|%20${PASSED_COUNT}_passed,%20${FAILED_COUNT}_failed-red"
          fi

          git config user.name "GitHub Actions Bot"
          git config user.email "<>"

          # Update badge if latest commit
          if [[ "$HASH" == "$LATEST_SHA" ]]; then
              # Fetch the badge SVG and save it as status_latest.svg
              curl -o status_latest.svg "$BADGE_URL"
              git add status_latest.svg
          fi

          git add $TEST_FILE
          git commit -m "Set overall status to $OVERALL_STATUS for build $HASH"
          git pull
          git push origin main
